h2 {
  color: #15212c;
  margin-bottom: 0;
}

.admin-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.admin-buttons i {
  margin-right: 10px;
}

.button {
  text-align: center;
}

.button a:hover {
  background-color: #6095c9;
  color: #15212c;
}

.button a {
  display: block;
  padding: 50px 100px;
  border: solid 1px #6095c9;
  border-radius: 5px;
}

.updates-button {
  margin: 50px;
}

.update-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.update-preview-container {
  margin-left: 50px;
  padding: 20px;
  align-self: flex-start;
  width: 500px;
}

.update-preview {
  border: solid 1px #000;
  border-radius: 10px;
  flex-wrap: wrap;
  word-wrap: break-word;
  padding-top: 20px;
}

.update-preview textarea {
  border: unset;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  resize: none;
  user-select: none;
  font-size: 18px;
}

/* Container for form */
.formContainer {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: var(--border-radius);
  background-color: #6095c9;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Form for adding new posts */
.updateForm {
  padding: 20px 0px 20px 0px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup input,
textarea {
  margin-top: 5px;
  border-radius: var(--border-radius);
  border: solid 1px #6095c9;
  padding: 5px 10px;
}

.formGroup label,
.formGroup input,
.formGroup textArea {
  width: 100%;
  font-size: 18px;
}

.grow-wrap {
  border: solid 1px #000;
}

.preview-link-container {
  margin-left: 10px;
}

.addPost {
  outline: none;
  border: none;
  background-color: #15212c;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.addPost:hover {
  box-shadow: unset;
}

/* Media queries - Smart phone */
@media screen and (max-width: 500px) {
  .formContainer {
    margin: 20px;
    font-size: 1em;
  }

  .formGroup label,
  .formGroup input,
  .formGroup textArea {
    width: 100%;
    font-size: 1em;
  }
}

/* Media Query for Smart phones */
@media screen and (max-width: 900px) {
  .admin-buttons {
    flex-direction: column;
  }

  .button a {
    padding: 10px 20px;
  }
}
